# /workspaces/light_esp32c6_temp/config.yaml
#
# Archivo de configuración unificado para la aplicación y la fabricación.
# Inspirado en el enfoque de ESPHome para una gestión centralizada.

# ==============================================================================
# Configuración de la Aplicación (para el firmware en C++)
# ==============================================================================
app:
  # El tipo de dispositivo principal para el nodo.
  # Determinará el atributo de tipo de dispositivo primario para el propio nodo.
  # Tipos soportados: light, outlet, switch
  device_type: light
  # Nombre del dispositivo para fines de identificación.
  device_name: "Matter C6 Light"
  flash_size: 8MB

  # Configuración de la conectividad de red.
  # El sistema de compilación usará esto para establecer las opciones correctas en sdkconfig.
  # Valores posibles:
  #   - wifi: Solo conectividad Wi-Fi.
  #   - thread: Solo conectividad Thread.
  network:
    connectivity: wifi

  buttons:
    - id: local_button
      gpio: 9
      active_level: 0 # 0 para pull-up, 1 para pull-down
      long_press_time_ms: 5000
      short_press_timeout_ms: 2000
      identify_trigger_count: 5
      identify_time_s: 10
      mode: local
      action:
        cluster: on_off
        command: toggle
        target_endpoint: 1
        driver: light

  # Configuración de la tira de LEDs.
  led_strip:
    led_count: 1 # Número de LEDs en la tira. Cambia esto a tu número real.
    rmt_gpio: 8  # GPIO conectado al pin de datos de la tira de LEDs.
    type: "ws2812" # Tipo de tira de LEDs.

  # Lista de endpoints en este dispositivo.
  endpoints:
    - id: 1
      # El tipo de dispositivo para este endpoint específico.
      # Determina qué clústeres son creados por el código de la aplicación.
      device_type: "extended_color_light"
      clusters:
        identify: {}
        groups: {}
        scenes_management:
          scene_table_size: 16
        on_off:
          state: true
          features: [lighting]
        level_control:
          current_level: 128
          features: [on_off, lighting]
        color_control:
          color_mode: "kColorTemperature"
          enhanced_color_mode: "kColorTemperature"
          color_temperature_mireds: 350
          features: [color_temperature, xy]

# ==============================================================================
# Configuración de Fabricación (para el script generate_certs.sh)
# ==============================================================================
fabrication:
  port: "/dev/ttyACM0"
  chip_target: "esp32c6"
  vendor_id: "0xFFF1"
  vendor_name: "Home"
  product_id: "0x8000"
  product_name: "Color Temperature Light"
  device_type_id: "0x010D"
  hardware_version: "1"
