cmake_minimum_required(VERSION 3.16)
set(PROJECT_NAME light)
include($ENV{IDF_PATH}/tools/cmake/project.cmake)
set(CMAKE_C_STANDARD 11)
set(CMAKE_CXX_STANDARD 17)
add_compile_definitions(CHIP_HAVE_CONFIG_H)
add_compile_options(-Os)
set(EXTRA_COMPONENT_DIRS $ENV{ESP_MATTER_PATH}/components $ENV{ESP_MATTER_PATH}/connectedhomeip/connectedhomeip/config/esp32/components)
project(${PROJECT_NAME})
